div.bgWhyChooseUs {
  background-color: #d3d3d3;
}

body div.customSfont {
	font-size: 20px;
}

.subText {
	font-size: 10px; 
	line-height: 10px;
	padding: 1px 0;
}

body div.moreInfo {
	display: none;
}

body a.loadMore {
	cursor: pointer;
}

.openHR {
	font-size: 18px;
	line-height: 28px;
}

.fill {
	padding: 0;
	margin: 0;
}

.borderGrey {
	box-shadow: 10px 10px 5px rgba(0,0,0,0.1)
}

.lh20px
{
	line-height: 20px;
}

.clickRed:active {
	color: #e54c2a;
}

body a#indexMoreButton {
	border: none;
	display: block;
	font-size: 36px;
	font-style: italic;
	font-family: "Great Vibes",cursive;

}

.fontSize20 {
	font-size: 20px;
}

body li a.fs16 {
	font-style: 16px;
}

.italic {
	font-style: italic;
}

.imgReview {
	margin: 0 auto;
	height: 30px;
	width: 30px;
}

.boxItUp{
	border-width: 10px;
	border-color: rgb(240,240,240);
	border-style: solid;
	max-width: 1040px;
	max-height: 310px;
	overflow: hidden;
}

p#lh28px {
	line-height: 28px;
}

div#maxWidth {
	display: inline;
	max-width: 50px;
	max-height: auto;
}


