.textCenter {
	text-align: center;
}

.imgCenter {
	display: block;
	margin: 0 auto;
}

.infoBox {
	margin-top: 40px;

}

.infoBox58 {
  margin-top: 58px;

}

.infoBox10 {
  margin-top: 10px;

}
.infoBoxP {
	font-size: 16px;
	text-align: center;
}



.about-resta-inner {

    position: relative;
}

.about-resta-details {
  background: #DCD8D8 none repeat scroll 0 0;
  left: 0;
  padding: 60px;
  top: 45px;
  width: 55%;
  overflow: hidden;
}

.about-title > h2 {
  color: #535353;
  font-family: "Great Vibes",cursive;
  font-size: 36px;
  text-transform: capitalize;
}

.about-description {

	color: #757575;
}
.about-description p.text-1 {
  margin-top: 15px;
  margin-bottom: 35px;
}

.about-rest-img {
    float: right;
    width: 50%;
    border: 1px solid white;
    
}

.titlestyle{
	  font-family: "Great Vibes",cursive;
	}

.popDish {
	display: inline;
}

.marginTop {
	margin-top: 40px;

}
.marginBot17 {
  margin-bottom: 17px;
}



img{max-width: 100%;}

div .none{
  display:none;
}
.popBoxSize {
  max-height: 300px;
}

#mt70 {
  margin-top: 70px;
}

#fs18 {
  font-size: 18px;
}

#marginLogo {
  margin-top: 50px;
}

.marginTop_10 {
  margin-top: -10px;
}

#marginTop40 {
  margin-top: 40px;

}

.loadbutton{
  margin-top: 40px;
}
 
button {
  background-color: rgb(29,29,29);
  border: none;
 
  font-family: "Merriweather",sans-serif;
 
  width: 135.488px;
  height: 36.8px;
}
button:hover{
  background-color: #e0ca8f;
  border:none;
 
  color:black;
  
  }

#buttontext{
  font-family: "Merriweather Sans",sans-serif;
  color:#e0ca8f;
}
#marginTop0 {
  margin-top: 0;

}