.textCenter {
	text-align: center;
}

.imgCenter {
	display: block;
	margin: 0 auto;
  /*width: 128px;
  height: 128px;*/
}

.imgCenter2 {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 128px;
}

.infoBox {
	margin-top: 40px;

}

.infoBox58 {
  margin-top: 58px;

}

.infoBox10 {
  margin-top: 10px;

}
.infoBoxP {
	font-size: 16px;
	text-align: center;
}

.yelp {
  font-size: 30px;
  color: white;
  transition: 0.3s;
}

.yelp:hover {
  color: white;
  font-size: 32px;
}


.about-resta-inner {

    position: relative;
}

.about-resta-details {
  background: #DCD8D8 none repeat scroll 0 0;
  left: 0;
  padding: 60px;
  top: 45px;
  width: 55%;
  overflow: hidden;
}

.about-title > h2 {
  color: #535353;
  font-family: "Great Vibes",cursive;
  font-size: 36px;
  text-transform: capitalize;
}

.about-description {

	color: #757575;
}
.about-description p.text-1 {
  margin-top: 15px;
  margin-bottom: 35px;
}

.about-rest-img {
    float: right;
    width: 50%;
    border: 1px solid white;
    
}

.titlestyle{
	  font-family: "Great Vibes",cursive;
	}

.popDish {
	display: inline;
}

.marginTop {
	margin-top: 40px;

}
.marginBot17 {
  margin-bottom: 17px;
}



img{max-width: 100%;}

div .none{
  display:none;
}
.popBoxSize {
  max-height: 300px;
}

#mt70 {
  margin-top: 70px;
}

#mt50 {
  margin-top: 50px;
}

#fs18 {
  font-size: 18px;
}

#marginLogo {
  margin-top: 50px;
}

.marginTop_10 {
  margin-top: -10px;
}

#marginTop40 {
  margin-top: 40px;

}

.loadbutton{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#mpButton {
  margin-bottom: 40px;
}

button {
  background-color: rgb(29,29,29);
  border: none;
  color:#e0ca8f;
  font-family: "Merriweather",sans-serif;
  margin:auto;
  width: 150.488px;
  height: 36.8px;
  

}

button:hover{
  background-color: #e0ca8f;
  border:none;
  
  color:black;
  
}

.menuPageBtn {
  background-color: rgb(29,29,29);
  border: none;
  color:#e0ca8f;
  font-family: "Merriweather",sans-serif;
  margin:auto;
  width: 150.488px;
  height: 36.8px;
  text-align: center;
  padding-top: 8px;
  transition: 0.3s;
  letter-spacing: 2px;
}

.menuPageBtn:hover {
  background-color: #e0ca8f;
  border:none;
  
  color:black;
}


#marginTop0 {
  margin-top: 0;

}

.displayBl {
  display: inline-block;
}

.leftFloat {
  float: left;
  padding-right: 15px;
  padding-bottom: 38px;
}

.ycu {
  padding: 50px 0;
}

.mg20 {
  margin: 20px 0;
}

.maps iframe {
  pointer-events: none;
}

.abtPic {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/insidemain.png')
}

.bglogo {
  background-image: url(/images/logofinal3.png);
  background-position: -100% top;
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-color: (0,0,0,0.1)
}

.ambiasBgLogo{
  background-image: url(/images/baldeagle.png);
  background-position: -65% bottom;
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-color: (0,0,0,0.1);
  z-index: -1;
}


.zIndex {
  z-index: 2;
}

.ambiaslink{
  color: #e0ca8f;
  font-family: "Merriweather", serif;
  font-size:14px;
}

.ambiaslink:hover{
  color: white;
  overflow: visible;
  z-index: 1;

}

.pg{

  height: 100vh;
  width: 100%;
  background-image: url("/images/nycbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.whiteTxt {

  color: white;
}

.success{
  color: green;     
}

.error{   
  color: red;
}

#lnheight{
  line-height: 18px;
}

.nav-center-align{
  padding-right: 100px;
}

.aboutBox1 {
  background-color: #eaeae1;
  padding: 0 10%;
}

.aboutContent {
  font-family: 'Roboto Slab', serif;
  background-color: #999;
  padding: 10%;
  color: #fff;
  text-align: left;
}

.contactContent {
  font-family: 'Roboto Slab', serif;
  background-color: #fff;
  padding: 3% 10%;
}

.aboutTitle {
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}

.cursor {
  cursor: pointer;
}

.aboutBox2 {
  padding: 0 20%;
}

.aboutContent2 {
  text-align: center;
  line-height: 35px;
}

.aboutUl {
  font-family: "Merriweather", serif;
  list-style: square;
  line-height: 35px;
  padding: 0 5%;
}

.aboutLi {
  text-align: left;
}

#fs20 {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .aboutBox2 {
    padding: 0 5%;
  }
  .aboutContent2 {
    font-size: 14px;
  }
  .aboutUl {
    font-size: 14px;
  }
  .aboutH6 {
    font-size: 14px;
  }

}

@media only screen and (max-width: 1100px) {
  .aboutBox2 {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 1400px) {
  .aboutBox2 {
    padding: 0 15%;
  }
}

#transparent {
  background-color: transparent;
  visibility: none;
  border: none;
}

.fl {
  float: left;
}

#floatBox {
  display: block;
}
body a.goUpCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


@font-face {
  font-family: zeroTwo;
  src: url(./ZEROTWOS.TTF);
}
.ambiasSubtitle {
  font-family: 'zeroTwo';
  font-size: 50px;
  margin-left: 45%;
  color: #F18711;
  position: relative;
  bottom: 70px;
}
.footerpadding{
  padding-bottom: 30px;
  padding-top: 60px;
}

.headerpadding{
  /*background-image: url("http://i.imgur.com/giLqoIV.jpg"); */
  background-color: white;
  padding-top:0px;
}
/*# sourceMappingURL=style.css.map */


@media (max-width: 450px){
  div .ambiasTitle {
    font-size: 70px;
    padding-top: 50%;
  }
  .ambiasSubtitle {
    font-family: 'zeroTwo';
    font-size: 35px;
    margin-left: 40%;
    position: relative;
    bottom: 20px;
  }

  div .adjustForm{
    padding-left: 0px;
    padding-right: 0px;
  }

  div .adjust{
    width:300;
  }
  .ambiasLogo{
    height: 55vh;
    width: 80vw;
  }
}

@media (min-width: 451px) and (max-width: 540px){
  div .ambiasTitle {
    font-size: 90px;
    padding-top: 50%;
  }
  .ambiasSubtitle {
    font-family: 'zeroTwo';
    font-size: 35px;
    margin-left: 45%;
    position: relative;
    bottom: 20px;
  }
  .ambiasLogo{
    height: 65vh;
    width: 82vw;
  }
}

@media (min-width: 541px) and (max-width: 768px){
  div .ambiasTitle{
    font-size: 120px;
    padding-top: 40%;
  }
  .ambiasSubtitle {
    font-family: 'zeroTwo';
    font-size: 35px;
    margin-left: 45%;
    position: relative;
    bottom: 45px;
  }
 .ambiasLogo{
    height: 75vh;
    width: 85vw;
  }
}


@media (min-width: 769px) and (max-width: 1024px){
  div .ambiasTitle{
    font-size: 150px;
  }
  .ambiasSubtitle {
    font-family: 'zeroTwo';
    font-size: 35px;
    margin-left: 45%;
    position: relative;
    bottom: 50px;
  }
  .ambiasLogo{
    height: 85vh;
    width: 86vw;
  }
}

@media (min-width: 1025px) and (max-width: 1200px){
  div .ambiasTitle{
    font-size: 180px;
  }
  .ambiasSubtitle {
    font-family: 'zeroTwo';
    font-size: 35px;
    margin-left: 45%;
    position: relative;
    bottom: 50px;
  }
  .ambiasLogo{
    height: 95vh;
    width: 87vw;
  }
}

@media (min-width: 1201px){
  .ambiasLogo{
    height: 100vh;
  }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
   
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*preloading*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 999;
  /* makes sure it stays on t op */
}

#status {
  background: rgb(253,253,253);
  width: 100vw;
  max-height: 100vh;
}

.preloaderVideo {
  background-color: white;
  height: auto;
  width: 90%; 
}

.videoCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:100vh;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height: 100vh;
}

.ambiasLogo{
  padding-left: 15px;
  padding-right: 15px;
  /*height: 100vh;*/
}

.logoDiv .ambiasLogo{
  display: block;
  margin-top: -50px;
}
.presents {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: orange;
  font-weight: 100;
  font-size: 0.5em;
}
